
:root {
  --border-color: #e4dcd8;
}

.main {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.hr {
  border-top: 1px solid var(--border-color);
}

.doodle-img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.button {
  background-color: #88888833;
  position: absolute;
  top: 50%;
  z-index: 10;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 100%;
}