@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  border-bottom: 1px solid;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #000000;
}

a:hover {
  background: #ffe2e4;
}
